/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	line-height: 1.6;
	color: #5a716a;
	background: #dce8f0;
}

p {
	text-align: center;
}

h1 {
	font-family: 'Asap', sans-serif;
	color: #5a716a;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #5a716a;
}

a:hover {
	color: #ad7a99;
	
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

nav {
	/*display: inline-block;*/
}

/*.main-nav {
	margin: 0;
}*/

.main-nav li,
.bottom-nav li {
	font-family: 'Asap', sans-serif;
	color: #5a716a;
}

.main-nav a,
.bottom-nav a {
	font-family: 'Asap', sans-serif;
	color: #5a716a;
}

.main-nav li {
	text-align: center;
	background: #FFF;
	display: block;
	/*padding: 10px;*/
	margin: 5px 10px;
}

.main-nav a {
	/*font-size:;*/
	color:#5a716a;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 15px;
	display: block;
	background: #dce8f0;
}

.main-nav a:hover {
	background-color: #8cdfd6;
}

.main-nav a:hover,
.bottom-nav a:hover {
	color: #6dc0d5;
}

/*.main-nav li {

}*/

/* ---- Layout Containers ---- */

.topbox {
	background: #b2cede;
	margin: auto;
}

.name {
	text-align: center;
	padding: 1px;
	margin: 0 5px;
	text-decoration: center;
}

.profile {
	text-align: center;
}

.intro {
	margin: 0;
	text-align: center;
	background: #b2cede;
}

.blurb {
	padding: 2px;
	text-align: center;
}

.box {
	/*border: 2px solid #8292b1;*/
	padding: 10px 10px;
	margin: auto;
	background: #dce8f0;
}

.main-header {
	text-align: center;
	background: #b2cede;
}

.main-footer {
	border-top: 0.5px solid #ad7a99;
	background: #b2cede;
	margin: auto;
	padding: 20px;
}

.footname,
.return {
	font-family: 'Asap', sans-serif;
}

.footname {
	float: left;
	margin-left: 5px;
}

.return {
	float: right;
	text-transform: uppercase;
	margin-right: 5px;
}

.contactbox {
	text-align: center;
	background: #b2cede;
	padding: 5px;
	padding-bottom: 30px;
}

.bottom-nav {
	text-transform: uppercase;
	display: none;
	font-weight: bold;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ---- Page Elements ---- */



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.wrap {
    	min-height: calc(100vh - 25.6px); /* 100 view height minus footer height of 25.6px */
	}

  	.container { 

		width: 90%; /* giving the container width prevents it from stretching too wide on larger screens */
		margin: 0 auto; /* setting left and right margin to auto will center the container */
  	}

  	.main-nav a:hover {
		background-color: transparent;
	}

  	.contactbox {
  		/*width: 90%;*/
  		margin: 0 auto;
  		clear: both;
  		padding: 0 10px;
  	}

  	.topbox {
  		width: 90%;
  		margin: auto;
  		float: center;
  	}

	.box {
		width: 50%;
		height: auto;
		/*max-height: 372px*/
		float: left;
	}

	.profile {
		float: right;
		width: 40%;
	}

	.blurb {
		float: left;
		width: 60%;
		padding-right: 25px;
	}

	.main-nav li {
		text-align: center;
		background: transparent;
		display: inline-block;
		/*padding: 10px;*/
		margin: 5px 10px;
	}

	.main-nav a {
		font-size: 1.3em;
		text-transform: uppercase;
		padding: 10px 15px;
		background: transparent;
		/*display: inline-block;*/
	}

	.main-header {
		/*text-orientation: : center;*/
	}

	.main-header,
	.main-footer {
		/*width: 90%;*/
		text-orientation: center;
	}

	.return {
		display: none;
	}

	.bottom-nav,
	.bottom-nav li {
		display: inline-block;
		float: right;
		margin: 0 10px;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


}

@media (min-width: 1024px) {

	.main-header,
	.wrap,
	.contactbox,
	.main-footer, {
		max-width: 1150px;
	}

	.box {
		width: 33.333%;
		height: auto;
		float: left;
	}

	.main-nav {
		float: right;
	}

	.name {
		float: left;
	}

	.profile {
		clear: both;
	}

/*	.blurb {
		float: none;
	}*/








}